@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
:root {
    --core-pink: #C340A1;
    --core-periwinkle: #6A6DCD;
    --core-red: #D93535;
    --core-blue: #307FE2;
    --core-mint: #00A88B;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(39, 39, 39);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(118deg, #1560D4 2.08%, rgba(180, 41, 166, 0.56) 101.39%);
    min-height: 100vh;
}

.card-behind {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 30px;
    background: #21252a;
}

.card-left {
    flex-shrink: 0;
    justify-content: flex-start;
    border-radius: 30px;
    position: relative;
    background-image: linear-gradient(152deg, rgba(170, 234, 236, 0.9) -0.04%, rgba(83, 91, 230, 0.90) 100%), url(more.png);
}

.card-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 30px;
}

.prop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.days {
    display: flex;
    flex-direction: row;
}

.left-top-block{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 48px;
    margin-left: 32px;
}

.left-bottom-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 84px;
    margin-left: 32px;
}